# 忽略/.cache/目录及其下的所有文件
/__pycache__/
/*/__pycache__/
/*/__pycache__/
/*/*/__pycache__/
/*/*/*/__pycache__/


/.idea/
/logs/
# 图片数据集
/Data/XCAD/fake_very_smalltheta/
/Data/XCAD/fake_very_smalltheta_old/
/Data/XCAD/fake_very_smalltheta_label/
/Data/XCAD/fake_very_smalltheta_label_old/
/Data/XCAD/train/fake_grayvessel_width/
/Data/XCAD/train/fake_grayvessel_width_old/
/Data/XCAD/train/fake_gtvessel_width/
/Data/XCAD/train/fake_gtvessel_width_old//
/Data/XCAD/train/bg_lzc/
/Data/XCAD/train/vessel3D_lzc/
/Data/XCAD/train/img/
/Data/XCAD/test/
/Data/XCAD/work_vessel.eps


/pic/
/out/

